<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <!--  Log level: [ALL < TRACE < DEBUG < INFO < WARN < ERROR < OFF], See: ch.qos.logback.classic.Level -->

  <appender class="ch.qos.logback.core.ConsoleAppender" name="application-logging">
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <pattern>%boldMagenta([A]) [%thread] %highlight([%-5level] %d{HH:mm:ss.SSS} [%-40.40logger{40}] -> %msg%n)</pattern>
    </encoder>
  </appender>
  <appender class="ch.qos.logback.core.ConsoleAppender" name="dependency-logging">
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <pattern>[D] [%thread] %highlight([%-5level] %d{HH:mm:ss.SSS} [%-40.40logger{40}] -> %msg%n)</pattern>
    </encoder>
  </appender>
  <appender class="ch.qos.logback.core.ConsoleAppender" name="root-logging">
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <pattern>[R] [%thread] %highlight([%-5level] %d{HH:mm:ss.SSS} [%-40.40logger{40}] -> %msg%n)</pattern>
    </encoder>
  </appender>

  <logger additivity="false" level="ERROR" name="com.github.thiagogarbazza.training.springangular">
    <appender-ref ref="application-logging"/>
  </logger>
  <logger additivity="false" level="ERROR" name="jdbc.audit">
    <appender-ref ref="dependency-logging"/>
  </logger>
  <logger additivity="false" level="ERROR" name="jdbc.connection">
    <appender-ref ref="dependency-logging"/>
  </logger>
  <logger additivity="false" level="ERROR" name="jdbc.resultset">
    <appender-ref ref="dependency-logging"/>
  </logger>
  <logger additivity="false" level="ERROR" name="jdbc.sqlonly">
    <appender-ref ref="dependency-logging"/>
  </logger>
  <logger additivity="false" level="ERROR" name="jdbc.sqltiming">
    <appender-ref ref="dependency-logging"/>
  </logger>
  <logger additivity="false" level="ERROR" name="org.hibernate">
    <appender-ref ref="dependency-logging"/>
  </logger>
  <logger additivity="false" level="ERROR" name="org.springframework">
    <appender-ref ref="dependency-logging"/>
  </logger>

  <root level="ERROR">
    <appender-ref ref="root-logging"/>
  </root>
</configuration>
